# Minima::Project Templates
share/templates/*.[sd]tpl linguist-language=perl
share/templates/+gitignore.stpl linguist-language=gitignore
share/templates/templates-* linguist-language=html
share/templates/static-css-* linguist-language=css
